/* Habilidades CSS */  
* {  
    box-sizing: border-box;  
}  

body {  
    font-family: 'Arial', sans-serif;  
    margin: 0;  
    padding: 0;  
    background-color: #1a1a1a; /* Fondo oscuro */  
    color: #f0f0f0; /* Texto claro */  
}  

header {  
    background-color: #2196F3; /* Color azul del encabezado */  
    color: white;  
    text-align: center;  
    padding: 50px 20px;  
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  
}  

nav {  
    background-color: #333; /* Fondo del nav */  
    text-align: center;  
    padding: 15px 0;  
    position: sticky; /* Fijo al hacer scroll */  
    top: 0;  
}  

nav ul {  
    list-style-type: none;  
    padding: 0;  
}  

nav ul li {  
    display: inline;  
    margin: 0 15px;  
}  

nav ul li a {  
    text-decoration: none;  
    color: white; /* Color de los enlaces en el nav */  
    font-weight: bold;  
}  

main {  
    padding: 40px 20px;  
}  

.habilidades-container {  
    display: flex;  
    justify-content: space-between;  
}  

.habilidades-tecnicas, .habilidades-blandas, .idiomas {  
    margin: 20px 0;  
    background-color: #2a2a2a; /* Fondo de las secciones */  
    padding: 20px;  
    border-radius: 8px; /* Bordes redondeados */  
    width: 48%; /* Ajusta el ancho de las secciones */  
}  

.habilidad {  
    display: flex;  
    align-items: center;  
    margin: 10px 0;  
}  

.habilidad img {  
    width: 30px; /* Ajusta el tamaño de los iconos */  
    margin-right: 10px;  
}  

h3 {  
    color: #4CAF50; /* Color de los títulos de sección */  
}  

footer {  
    text-align: center;  
    padding: 20px 0;  
    background-color: #333; /* Fondo del footer */  
    color: #f0f0f0; /* Texto claro */  
    margin-top: 40px;  
}