* {  
    box-sizing: border-box;  
}  

body {  
    font-family: 'Arial', sans-serif;  
    margin: 0;  
    padding: 0;  
    background-color: #1a1a1a;  
    color: #f0f0f0;  
    transition: background-color 0.3s, color 0.3s;  
}  

.perfil {  
    text-align: center;  
    margin-bottom: 10px;  
    position: relative;  
}  

.foto-perfil {  
    width: 180px;  
    height: 180px;  
    border-radius: 50%;  
    border: 5px solid #242424;  
    display: block;  
    margin: 20px auto;  
    object-fit: cover;  
    overflow: hidden;  
}  

.perfil::before {  
    content: '';  
    position: absolute;  
    top: 10px;  
    left: 10px;  
    right: 10px;  
    bottom: 10px;  
    border-radius: 50%;  
    background-color: rgba(0, 0, 0, 0.5);  
    z-index: -1;  
}  

.redes-sociales {  
    margin-top: 10px;  
}  

.redes-sociales .icono-redes {  
    color: #f0f0f0;  
    text-decoration: none;  
    margin: 0 10px;  
}  

h1, h3 {  
    color: #f0f0f0;  
}  

nav {  
    background-color: #333;  
    text-align: center;  
    padding: 15px 0;  
    position: sticky;  
    top: 0;  
}  

nav ul {  
    list-style-type: none;  
    padding: 0;  
}  

nav ul li {  
    display: inline;  
    margin: 0 15px;  
}  

nav ul li a {  
    text-decoration: none;  
    color: white;  
    font-weight: bold;  
}  

main {  
    padding: 40px 20px;  
}  

.proyectos {  
    text-align: left;  
}  

.proyectos h3 {  
    font-size: 2em;  
    margin-bottom: 20px;  
    color: #FFD700;  
}  

.proyecto {  
    margin-bottom: 30px;  
    padding: 15px;  
    background-color: #2a2a2a;  
    border-radius: 8px;  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);  
}  

.proyecto h4 {  
    color: #FFD700;  
    margin: 0 0 10px;  
}  

.toggle-checkbox {  
    display: none;  
}  

.toggle-label {  
    position: fixed;  
    top: 20px;  
    right: 20px;  
    background-color: #4285f4;  
    color: white;  
    border: none;  
    border-radius: 5px;  
    padding: 10px 15px;  
    cursor: pointer;  
    z-index: 1000;  
    display: flex;  
    align-items: center;  
}  

.toggle-label .fa-moon,  
.toggle-label .fa-sun {  
    margin-right: 8px;  
}  

body.light-mode {  
    background-color: #ffffff;  
    color: #000000;  
}  

body.light-mode header,  
body.light-mode nav,  
body.light-mode .footer {  
    background-color: #e0e0e0;  
    color: #000;  
}  

body.light-mode .item {  
    background-color: #f5f5f5;  
}  

body.light-mode .icono-redes {  
    color: #000;  
}  

.toggle-checkbox:checked + .toggle-label {  
    background-color: #333;  
    color: white;  
}  

.toggle-checkbox:checked + .toggle-label .fa-moon {  
    display: none;  
}  

.toggle-checkbox:checked + .toggle-label .fa-sun {  
    display: inline;  
}  

.toggle-label .fa-sun {  
    display: none;  
}